<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>コピー</title>
  <style>
    @font-face {
      font-family: 'gsc';
      src: url('https://ffff-22.github.io/ws/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
    }
    p {
      font-family: 'gsc', sans-serif;
      height: 30px;
      display: block;
      background: orange;
    }
  </style>
</head>
<body>
  <p>/say 文字列templatewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
</body>
</html>
